.place-container {
    border: 1px solid black;
    font-size: 1em;
    width: 100%;
    padding: 16px 24px 16px 24px;
}

.save-btn {
    position: relative;
    margin: 24px 0px 24px 0px;
    float: right;
}