.modal-background {
    background-color: rgb(0,0,0,0.8);
    z-index: 40;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 
}

.modal-wrapper {
    margin: 80px auto;
    background-color: white;
    width: 30%;
    padding: 32px;
}

.modal-input {
    width: 100%;
    padding: 16px;
    height: 56px;
    margin-bottom: 24px;
}

.close-btn {
    float: right
}

.btn-wrapper {
    width: 100%;
    text-align: right;
}

.add-note-btn {
    margin-left: 16px;
}



