
.filters-bar {
    background-color: white;
    padding: 16px;
    padding-left: 24px;
    position: fixed;
    top: 48px;
    width: 478px;
    z-index: 2;
}

.placelist-wrapper {
    background-color: white;
    position: absolute;
    top: 36px;
}

.result-text {
    /* line-height: 16px; */
    margin: 0;
    width: 90px;
    display: inline-block;
}

.filters{
    display: inline-block;
}